<h1 class="smaller_heading"><%= @player1.name%> vs <%= @player2.name%></h1>

<p><%= @player1.name%> HP: <%= @player1.hp%></p>
<p><%= @player2.name%> HP: <%= @player2.hp%></p>

<form action='/attack' >
  <input value="Attack" type=submit>
</form>
